.header {
  padding-top: 30px;
  &__wrapper {
    display: flex;
    align-items: flex-end;
  }
  .img__wrapper {
    position: relative;
    margin: 0;
    width: 200px;
    @include padding-hack(22%, cover);
    margin-right: 30px;
  }
  &__title {
    font-size: $size-36;
    font-weight: 700;
    margin: 0;
  }
  &__subtitle {
    font-size: $size-21;
    font-weight: 500;
    font-style: italic;
    margin: 0;
  }
  &__country {
    font-weight: 300;
    font-style: italic;
    margin: 0;
  }
  &__line {
    border: 2px solid $black;
  }
}
